#UICollection{
	height: 600px;
	width: 270px;
	border: 1px solid #333;
	background: #fff;
	overflow: auto;
}

#UICollection.loading{
	background: #ccc url('CollectionLoadingThrobber.gif') no-repeat center;
}

#UICollection ol.treeList ol.track > li{
	background: none;
	padding-left: 0;
	list-style: inside decimal;
}