body{
	background: #f9f9f9;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 62.5%;
	color: #333;
}

html{
	height: 100%;
}

body.loading{
	height: 100%;
	background: #f9f9f9 url('modules/UI/Collection/CollectionLoadingThrobber.gif') no-repeat center center;
}

#MusicMe{
	background: url('images/logo.png') no-repeat center 25px;
	background-size: auto 32px;
	width: 95%;
	min-width: 900px;
	margin: auto;
	padding-top: 100px;
	/* keep the app layer above the overlay by default. */
	position: relative;
	z-index: 1;
}

#MusicMe #UICollection,#MusicMe #UIPlaylist{
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
}

#MusicMe #UICollection:hover,#MusicMe #UIPlaylist:hover{
	border-color: #ccd4ee;
}

#MusicMe #UIPlaylist.draghighlight{
	border-color: #4277ef;
}

#MusicMe #UICollection{
	float: left;
	height: 400px;
	width: 22%;
}

#MusicMe #UIPlaylist{
	float: right;
	height: 380px;
	width: 75%;
}