#UICollection{
	height: 600px;
	width: 270px;
	border: 1px solid #333;
	background: #fff;
	overflow: auto;
}

#UICollection.loading{background: #ccc url('CollectionLoadingThrobber.gif') no-repeat center}

#UICollection.loading > *{display: none}

#UICollection ol.treeList ol.track > li{
	background: none;
	padding-left: 0;
	list-style: inside decimal;
}

/* @group Search */

#UICollection.usingSearch{
	padding-top: 30px;
	position: relative;
}

#UICollection.usingSearch > div.search{
	height: 30px;
	width: 100%;
	position: absolute;
	top: 0;
}

#UICollection.usingSearch > div.search > *{
	width: 90%;
	margin: 5px 10px;
	border: 1px solid #eee;
}

#UICollection.usingSearch > div.listContainer{
	height: 100%;
	width: 100%;
	overflow: auto;
}

/* @end */