#UICollection{
	height: 600px;
	width: 270px;
	border: 1px solid #333;
	background: #fff;
	overflow: auto;
}

#UICollection.loading{background: #ccc url('CollectionLoadingThrobber.gif') no-repeat center}

#UICollection.loading > *{display: none}

#UICollection.noResults{background: #fff url('CollectionNoSearchResults.png') no-repeat center}

body.svg #UICollection.noResults{background-image: url('CollectionNoSearchResults.svg')}

#UICollection ol.treeList ol.track > li{
	background: none;
	padding-left: 0;
	list-style: inside decimal;
}

/* @group Search */

#UICollection.usingSearch{
	padding-top: 35px;
	position: relative;
}

#UICollection.usingSearch > div.search{
	height: 35px;
	width: 100%;
	position: absolute;
	top: 0;
}

#UICollection.usingSearch > div.search > *{
	width: 90%;
	margin: 5px 10px;
	border: 1px solid #eee;
}

#UICollection.usingSearch > div.search > .UIWidgetSearchInput{
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

#UICollection.usingSearch > div.search > .UIWidgetSearchInput > button{
	margin-right: 2px;
}

#UICollection.usingSearch > div.listContainer{
	height: 100%;
	width: 100%;
	overflow: auto;
}

/* @end */