.UIWidgetSearchInput{
	width: 200px;
	border: 1px solid #aaa;
	overflow: hidden;
	padding: 3px 2px;
}

.UIWidgetSearchInput *{
	outline: none;
	border: none;
	height: 16px;
	display: block;
	float: left;
	padding: 0;
}

.UIWidgetSearchInput > input{
	width: 180px;
	background: transparent;
	margin-left: 3px;
	color: #333;
}

.UIWidgetSearchInput > input.placeholder{color: #aaa}

.UIWidgetSearchInput > button{
	width: 16px;
	background: url('TextInput.png') no-repeat;
	opacity: 0;
}

body.svg .UIWidgetSearchInput > button{background-image: url('TextInput.svg')}

.UIWidgetSearchInput > button:active{background-position: -16px 0}