/**
 * TreeList
 * @description stylesheet for the TreeList widget.
 */
.treeList{
	width: 100%;
	overflow: auto;
	background: #fff url('TreeListZebraStripes.png');
	margin: 0;
	padding: 0;
}

body.svg .treeList{background-image: url('TreeListZebraStripes.svg')}

.treeList *{
	margin: 0;
	padding: 0;
}

.treeList li{
	line-height: 25px;
	font-size: 12px;
	padding-left: 25px;
	white-space: nowrap;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: url('TreeListRightArrow.png') no-repeat 8.5px 8.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body.svg .treeList li{
	background-image: url('TreeListRightArrow.svg');
	background-size: 8px 8px
}

.treeList li.expanded{
	background-image: url('TreeListDownArrow.png');
	background-position: 6px 8.5px;
	background-size: 8px 8px
}

body.svg .treeList li.expanded{background-image: url('TreeListDownArrow.svg')}

.treeList li > ol{display: none}

.treeList li.expanded > ol{display: block}