/**
 *  UITreeListWidget
 * @description stylesheet for the TreeList widget.
 */
.UITreeListWidget{
	width: 100%;
	overflow: auto;
	background: #fff url('TreeListZebraStripes.png');
	margin: 0;
	padding: 0;
}

body.svg .UITreeListWidget{
	background-image: url('TreeListZebraStripes.svg');
	background-size: auto 50px
}

.UITreeListWidget *{
	margin: 0;
	padding: 0;
}

.UITreeListWidget li{
	line-height: 25px;
	font-size: 12px;
	padding-left: 25px;
	white-space: nowrap;
	cursor: default;
	background: url('TreeListRightArrow.png') no-repeat 8.5px 8.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

body.svg .UITreeListWidget li{
	background-image: url('TreeListRightArrow.svg');
	background-size: 8px 8px
}

.UITreeListWidget li.expanded{
	background-image: url('TreeListDownArrow.png');
	background-position: 6px 8.5px;
	background-size: 8px 8px
}

.UITreeListWidget ol.finalNode > li{
	background: none;
	padding-left: 0;
	list-style: inside decimal;
}

body.svg .UITreeListWidget li.expanded{background-image: url('TreeListDownArrow.svg')}

.UITreeListWidget li > ol{display: none}

.UITreeListWidget li.expanded > ol{display: block}