#UICollection{
	height: 600px;
	width: 270px;
	border: 1px solid #333;
	background: #fff;
	overflow: auto;
	padding-bottom: 20px
}

#UICollection.loading{background: #ccc url('../images/shared.loadingThrobber.gif') no-repeat center}

#UICollection.loading > *{display: none}

#UICollection.noResults{background: #fff url('../images/ui.collection.noSearchResults.png') no-repeat center}

body.svg #UICollection.noResults{background-image: url('../images/ui.collection.noSearchResults.svg')}

/* @group Search */

#UICollection{
	padding-top: 35px;
	position: relative;
}

#UICollection > div.search{
	height: 35px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#UICollection > div.search > *{
	width: 90%;
	margin: 5px 10px;
	border: 1px solid #eee;
}

#UICollection > div.search > .UIWidgetSearchInput{
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

#UICollection > div.search > .UIWidgetSearchInput > button{
	margin-right: 2px;
}

#UICollection > div.listContainer{
	height: 100%;
	width: 100%;
	overflow: auto;
}

/* @end */

/* @group Info Bar */

#UICollection .statusBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 19px;
	border-top: 1px solid #ddd;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: linear-gradient(top,  #fff 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}

#UICollection .statusBar > span{
	font-family: 'Lucida Grande', Lucida, Helvetica, Arial;
	font-size: 12px;
	font-weight: 100;
	color: #333;
	margin: 2px 5px;
	display: block;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

/* @end */