#UIPlayer{
	width: 100%;
	height: 80px;
	position: relative;
	margin-bottom: 10px;
}

#UIPlayer #UIPlayerSlider{
	width: 50%;
	height: 20px;
	margin: auto;
	padding-top: 60px;
}

#UIPlayer #UIPlayerSlider > li{
	display: inline-block;
	height: 100%;
}

#UIPlayer #UIPlayerSlider > li.current_time, #UIPlayer #UIPlayerSlider > li.total_time{
	width: 10%;
	text-align: center;
}

#UIPlayer #UIPlayerSlider > li.slider{
	width: 80%;
	height: 10px;
}

#UIPlayer #UIPlayerSlider li > span{
	font-weight: bold;
	vertical-align: middle;
	font-size: 10px;
	display: block;
	margin-top: 3px;
}

#UIPlayer #UIPlayerSlider .dragdealer{
	width: 100%;
	height: 100%;
	background: #eee;
	border: 1px solid #ddd;
}

#UIPlayer #UIPlayerSlider .dragdealer, #UIPlayer #UIPlayerSlider .dragdealer .progress, #UIPlayer #UIPlayerSlider .dragdealer .buffer{
	border-radius: 5px;
}

#UIPlayer #UIPlayerSlider .dragdealer.disabled *{background: #ddd}

#UIPlayer #UIPlayerSlider .dragdealer .buffer, #UIPlayer #UIPlayerSlider .dragdealer .progress{
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
}

#UIPlayer #UIPlayerSlider .dragdealer .buffer{
	background: #d7eafc;
	z-index: 0;
}

#UIPlayer #UIPlayerSlider .dragdealer .progress{
	background: #ddd;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}

#UIPlayer #UIPlayerSlider .dragdealer .handle{
	height: 100%;
	width: 5px;
	background: transparent;
	z-index: 2;
}

.dragdealer {
	position: relative;
	height: 20px;
}

.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}

/* @group Player Controls */

#UIPlayer #UIPlayerControls{
	width: 22%;
	height: 100%;
	float: left;
}

#UIPlayer #UIPlayerControls > ol{
	width: 128px;
	height: 54px;
	list-style: none;
	margin: auto;
	margin-top: 13px;
}

#UIPlayer #UIPlayerControls > ol > li{
	display: block;
	float: left;
	height: 32px;
	width: 32px;
}

#UIPlayer #UIPlayerControls button{
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
}

#UIPlayer #UIPlayerControls > ol > li.play_pause{
	height: 54px;
	width: 54px;
	margin: 0 5px;
}

#UIPlayer #UIPlayerControls > ol > li.prev, #UIPlayer #UIPlayerControls > ol > li.next{
	margin-top: 11px;
}

#UIPlayer #UIPlayerControls > ol > li.play_pause button{
	background: url('../images/ui.player.playPauseButton.png') no-repeat;;
}

body.svg #UIPlayer #UIPlayerControls > ol > li.play_pause button{
	background-image: url('../images/ui.player.playPauseButton.svg')
}

#UIPlayer #UIPlayerControls > ol > li.play_pause button:hover{
	background-position: -54px 0
}

#UIPlayer #UIPlayerControls > ol > li.play_pause button.pause{
	background-position: -108px 0
}

#UIPlayer #UIPlayerControls > ol > li.play_pause button.pause:hover{
	background-position: -162px 0
}

#UIPlayer #UIPlayerControls > ol > li.prev button{
	background: url('../images/ui.player.BackButton.png') no-repeat
}

body.svg #UIPlayer #UIPlayerControls > ol > li.prev button{
	background-image: url('../images/ui.player.BackButton.svg')
}

#UIPlayer #UIPlayerControls > ol > li.prev button:hover{
	background-position: -32px 0
}

#UIPlayer #UIPlayerControls > ol > li.next button{
	background: url('../images/ui.player.forwardButton.png') no-repeat
}

body.svg #UIPlayer #UIPlayerControls > ol > li.next button{
	background-image: url('../images/ui.player.forwardButton.svg')
}

#UIPlayer #UIPlayerControls > ol > li.next button:hover{
	background-position: -32px 0
}

/* @end */

/* @group Volume Control */

#UIPlayer #UIPlayerVolumeControl{
	float: right;
	width: 22%;
	height: 100%;
	margin-top: -80px;
}

#UIPlayer #UIPlayerVolumeControl ol{
	display: inline-block;
	width: 100%;
	height: 20px;
	margin-top: 30px;
}

#UIPlayer #UIPlayerVolumeControl ol > li{
	display: inline-block;
	float: left;
}

#UIPlayer #UIPlayerVolumeControl ol > li.slider{
	width: 70%;
	height: 100%;
}

#UIPlayer #UIPlayerVolumeControl .dragdealer{
	height: 20px;
	width: 100%;
	background: #aaa;
	border-radius: 20px;
}

#UIPlayer #UIPlayerVolumeControl .dragdealer .handle{
	height: 16px;
	width: 16px;
	margin-top: 2px;
	background: #eee;
	border-radius: 50%;
}

#UIPlayer #UIPlayerVolumeControl ol > li.mute, #UIPlayer #UIPlayerVolumeControl ol > li.max{
	width: 20px;
	height: 20px;
}

#UIPlayer #UIPlayerVolumeControl ol > li.mute{
	margin-right: 5px;
}

#UIPlayer #UIPlayerVolumeControl ol > li.max{
	margin-left: 5px;
}

#UIPlayer #UIPlayerVolumeControl ol > li.mute button, #UIPlayer #UIPlayerVolumeControl ol > li.max button{
	height: 16px;
	width: 18px;
	background: url('../images/ui.player.volumeControl.png') no-repeat;
	border: none;
	outline: none;
	margin-top: 2px;
}

body.svg #UIPlayer #UIPlayerVolumeControl ol > li.mute button, body.svg #UIPlayer #UIPlayerVolumeControl ol > li.max button{
	background-image: url('../images/ui.player.volumeControl.svg');
}

#UIPlayer #UIPlayerVolumeControl ol > li.mute button{
	background-position: -18px 0;
}

/* @end */