#UIPlayer{
	width: 100%;
	height: 80px;
	position: relative;
	margin-bottom: 10px;
}

#UIPlayer #UIPlayerSlider{
	width: 50%;
	height: 20px;
	margin: auto;
	padding-top: 60px;
}

#UIPlayer #UIPlayerSlider > li{
	display: inline-block;
	height: 100%;
}

#UIPlayer #UIPlayerSlider > li.current_time, #UIPlayer #UIPlayerSlider > li.total_time{
	width: 10%;
	text-align: center;
}

#UIPlayer #UIPlayerSlider > li.slider{
	width: 80%;
	height: 10px;
}

#UIPlayer #UIPlayerSlider li > span{
	font-weight: bold;
	vertical-align: middle;
	font-size: 10px;
	display: block;
	margin-top: 3px;
}

#UIPlayer #UIPlayerSlider .dragdealer{
	width: 100%;
	height: 100%;
	background: #ececec;
	border: 1px solid #ddd;
}

#UIPlayer #UIPlayerSlider .dragdealer, #UIPlayer #UIPlayerSlider .dragdealer .progress, #UIPlayer #UIPlayerSlider .dragdealer .buffer{
	border-radius: 5px;
}

#UIPlayer #UIPlayerSlider .dragdealer.disabled *{background: #ddd}

#UIPlayer #UIPlayerSlider .dragdealer .buffer, #UIPlayer #UIPlayerSlider .dragdealer .progress{
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
}

#UIPlayer #UIPlayerSlider .dragdealer .buffer{
	background: #d7eafc;
	z-index: 0;
}

#UIPlayer #UIPlayerSlider .dragdealer .progress{
	background: #ddd;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1;
}

#UIPlayer #UIPlayerSlider .dragdealer .handle{
	height: 100%;
	width: 5px;
	background: transparent;
	z-index: 2;
}

#UIPlayer #UIPlayerControls{
	width: 22%;
	height: 100%;
	float: left;
}

#UIPlayer #UIPlayerControls .UIButtonBarWidget{
	padding: 0;
	margin: auto;
	margin-top: 20px;
	width: 170px;
}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.play_pause{
	height: 54px;
	width: 54px;
	background: url('../images/ui.player.playPauseButton.png') no-repeat;
}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.prev, #UIPlayer #UIPlayerControls .UIButtonWidget.icon.next{
	height: 32px;
	width: 32px;
}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.play_pause:hover{background-position: -54px 0}
#UIPlayer #UIPlayerControls .UIButtonWidget.icon.play_pause.pause{background-position: -108px 0}
#UIPlayer #UIPlayerControls .UIButtonWidget.icon.play_pause.pause:hover{background-position: -162px 0}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.prev{background: url('../images/ui.player.BackButton.png') no-repeat}
#UIPlayer #UIPlayerControls .UIButtonWidget.icon.next{background: url('../images/ui.player.forwardButton.png') no-repeat}

body.svg #UIPlayer #UIPlayerControls .UIButtonWidget.icon.play_pause{background-image: url('../images/ui.player.playPauseButton.svg')}
body.svg #UIPlayer #UIPlayerControls .UIButtonWidget.icon.prev{background-image: url('../images/ui.player.BackButton.svg')}
body.svg #UIPlayer #UIPlayerControls .UIButtonWidget.icon.next{background-image: url('../images/ui.player.forwardButton.svg')}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.prev:hover{background-position: -32px 0}
#UIPlayer #UIPlayerControls .UIButtonWidget.icon.next:hover{background-position: -32px 0}

#UIPlayer #UIPlayerControls .UIButtonWidget.icon.prev:hover:active{-ms-background-position: -31px 1px;
}
#UIPlayer #UIPlayerControls .UIButtonWidget.icon.next:hover:active{-ms-background-position: -31px 1px}

.dragdealer {
	position: relative;
	height: 20px;
	background: #eee;
}

.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}