.UIRearrangeableListWidget{
	background: url('../images/shared.zebraStripes.png') repeat;
	list-style: none;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.UIRearrangeableListWidget > li{
	display: block;
	height: 25px;
	line-height: 25px;
	position: relative;
	overflow: visible;
}

.UIRearrangeableListWidget > li.selected{background: #c2deff}

.UIRearrangeableListWidget > li > #dropIndicatorBottom, .UIRearrangeableListWidget > li > #dropIndicatorTop{
	position: absolute;
	height: 0;
	width: 100%;
	left: 0;
	border-bottom: 2px dashed #333;
}

.UIRearrangeableListWidget > li > #dropIndicatorTop{
	top: 0;
}

.UIRearrangeableListWidget > li > #dropIndicatorBottom{
	bottom: -2px;
	z-index: 1000;
}