.TextInputWidget{
	width: 200px;
	border: 1px solid #aaa;
	overflow: hidden;
	padding: 3px 2px;
}

.TextInputWidget *{
	outline: none;
	border: none;
	height: 16px;
	display: block;
	padding: 0;
}

.TextInputWidget > input{
	width: 85%;
	background: transparent;
	margin-left: 3px;
	color: #333;
	float: left;
}

.TextInputWidget.search > input{
	margin-left: 24px;
	width: 75%;
}

.TextInputWidget > input.placeholder{color: #aaa}

.TextInputWidget > button{
	width: 16px;
	background: url('../images/ui.widget.textInput.sprite.png') no-repeat;
	display: none;
	float: right;
}

body.svg .TextInputWidget > button{background-image: url('../images/ui.widget.textInput.sprite.svg')}

.TextInputWidget > button:active{background-position: -16px 0}

.TextInputWidget.search{background: url('../images/ui.widget.textInput.sprite.png') no-repeat -33px}

body.svg .TextInputWidget.search{background-image: url('../images/ui.widget.textInput.sprite.svg')}