#UIPlaylist{
	width: 600px;
	height: 580px;
	background: #fff;
	border: 1px solid #333;
	overflow: auto;
	position: relative;
	padding-top: 35px;
}

#UIPlaylist.dragentered{
	border-color: #4277ef;
}

#UIPlaylist, #UIPlaylist *{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* @group Playlist */

#UIPlaylist > .listContainer{
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	overflow: auto;
}

#UIPlaylist > .listContainer > div{
	width: 100%;
	height: 100%;
	background: red;
}

/* @end */

/* @group Control Bar */

#UIPlaylist.usingControlBar{
	position: relative;
	padding-top: 55px;
}

#UIPlaylist > .controlBar{
	width: 100%;
	height: 54px;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
	position: absolute;
	top: 0;
	left: 0;
}

/* @end */

/* @group Info Bar */

#UIPlaylist.usingInfoBar{
	position: relative;
	padding-bottom: 20px;
}

#UIPlaylist > .infoBar{
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: linear-gradient(top,  #fff 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 );
	height: 19px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* @end */


