#UIPlaylist{
	width: 600px;
	height: 580px;
	background: #fff;
	border: 1px solid #333;
	overflow: auto;
	position: relative;
	padding-top: 20px;
}

#UIPlaylist.dragentered{
	border-color: #4277ef;
}

#UIPlaylist ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

#UIPlaylist .legend{line-height: 19px}

#UIPlaylist > div:first-child{height: 19px}

/* @group Playlist */

#UIPlaylist > .listContainer{
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	overflow: auto;
}

#UIPlaylist > .listContainer > ol{
	background: url('PlaylistZebraStripes.png');
}

#UIPlaylist > .listContainer > ol > li > ol{
	display: block;
	white-space: nowrap;
	width: 100%;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}

#UIPlaylist .legend > li{
	font-weight: bold;
}

#UIPlaylist > .listContainer  ol > li > ol > li, #UIPlaylist .legend > li{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	padding: 0 2%;
	font-family: Helvetica, Arial, sans-serif;
}

#UIPlaylist > .listContainer  ol > li > ol > li{
	line-height: 25px;
}

#UIPlaylist > div:first-child{
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
	position: absolute;
	top: 0;
	left: 0;
}


#UIPlaylist > .listContainer  li.selected{background: #c2deff}

#UIPlaylist > .listContainer  li.playing{background: #5a94ff; color: #fff}

/* @end */

/* @group Control Bar */

#UIPlaylist.usingControlBar{
	position: relative;
	padding-top: 55px;
}

#UIPlaylist.usingControlBar > div:first-child{
	height: 54px;
}

#UIPlaylist .controlBar{
	height: 34px;
	border-bottom: 1px solid #aaa;
	width: 100%;
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: linear-gradient(top,  #fff 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}

#UIPlaylist .UIButtonBarWidget{
	background: transparent;
	height: 34px;
}

#UIPlaylist .UIButtonBarWidget .icon{
	height: 27px;
	width: 27px;
}

#UIPlaylist .UIButtonBarWidget .icon.clear{background: url('PlaylistClearButton.png')}
#UIPlaylist .UIButtonBarWidget .icon.clear:hover{background-position: -27px 0}
#UIPlaylist .UIButtonBarWidget .icon.clear.disabled{background-position: -54px 0}
body.svg #UIPlaylist .UIButtonBarWidget .icon.clear{background-image: url('PlaylistClearButton.svg')}

#UIPlaylist .UIButtonBarWidget .icon.undo{background: url('PlaylistUndoButton.png')}
#UIPlaylist .UIButtonBarWidget .icon.undo:hover{background-position: -27px 0}
#UIPlaylist .UIButtonBarWidget .icon.undo.disabled{background-position: -54px 0}
body.svg #UIPlaylist .UIButtonBarWidget .icon.undo{background-image: url('PlaylistUndoButton.svg')}

#UIPlaylist .UIButtonBarWidget .icon.redo{background: url('PlaylistRedoButton.png')}
#UIPlaylist .UIButtonBarWidget .icon.redo:hover{background-position: -27px 0}
#UIPlaylist .UIButtonBarWidget .icon.redo.disabled{background-position: -54px 0}
body.svg #UIPlaylist .UIButtonBarWidget .icon.redo{background-image: url('PlaylistRedoButton.svg')}

#UIPlaylist .UIButtonBarWidget .icon.settings{background: url('PlaylistSettingsButton.png')}
#UIPlaylist .UIButtonBarWidget .icon.settings:hover{background-position: -27px 0}
#UIPlaylist .UIButtonBarWidget .icon.settings.disabled{background-position: -54px 0}
body.svg #UIPlaylist .UIButtonBarWidget .icon.settings{background-image: url('PlaylistSettingsButton.svg')}

/* @end */

/* @group Info Bar */

#UIPlaylist.usingInfoBar{
	position: relative;
	padding-bottom: 20px;
}

#UIPlaylist > .infoBar{
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -o-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#ddd 100%);
	background: linear-gradient(top,  #fff 0%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	height: 19px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#UIPlaylist > .infoBar > span{
	font-family: 'Lucida Grande', Lucida, Helvetica, Arial;
	font-size: 12px;
	font-weight: 100;
	color: #333;
	margin: 2px 5px;
	display: block;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	cursor: default;
}

/* @end */