/**
 * modalDialoge Stylesheet
 * @description The supporting stylesheet for the modalDialogue module.
 */

/* @group Overlay */

#ModalDialogueOverlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #333;
	z-index: 0;
	opacity: 0;
}

#ModalDialogueOverlay.visible{
	z-index: 1000;
	opacity: 0.8;
}

/* @end */

/* @group Modal Dialogue */

#ModalDialogue{
	width: 60%;
	height: 60%;
	margin: 10% auto;
	background: #f9f9f9;
	border: 1px solid #aaa;
	padding: 0em 2em;
	z-index: 10000;
	box-shadow: 0 0 5em rgba(0,0,0,0.6), 0 0 10em rgba(0,0,0,0.5);
	overflow: auto;
	position: relative;
}

#ModalDialogue.center{text-align: center}

#ModalDialogue.right{text-align: right}

#ModalDialogue > *{margin: 1em 0}

#ModalDialogue > h1{
	font-weight: 100;
	font-size: 2.5em;
}

#ModalDialogue > p{
	font-size: 1.3em;
	color: #888;
}

#ModalDialogue > div#buttons{
	position: absolute;
	bottom: 0;
	right: 1em;
}

#ModalDialogue > div#buttons > button{
	padding: 0.5em 1.4em;
	margin: 0 0.5em;
	border: 1px solid #aaa;
	background: #eee;
	box-shadow: 0 0 3px #ddd;
	font-size: 1.3em;
}

#ModalDialogue > div#buttons > button:hover{
	background: #f9f9f9;
	background: -moz-linear-gradient(bottom, #ddd 50%, #eee 79%);
	background: -webkit-linear-gradient(#ddd,#eee);
	background: -ms-linear-gradient(bottom, #ddd 50%, #eee 79%);
}

#ModalDialogue > form{
	margin-top: 2em;
}

#ModalDialogue > form > label{
	display: block;
	margin: 1em 0;
	font-size: 1.6em;
}

#ModalDialogue > form > label > input{
	margin-left: 1em;
	font-size: 0.8em;
	border: 2px solid #aaa;
	color: #aaa;
	padding: 0.2em 0.4em;
}

/* @end */
